*{
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}


li > ul {
	display: none;
}

input.arrow:checked ~ ul {
	display: inherit;
}




ul {
	list-style-type: none;
}

input[type=checkbox],input[type=checkbox] {
	display: none;
}


input[type=checkbox].arrow + label {
	background-image: url(arrowRight.svg);
	height: 16px;
	width: 16px;
	display: inline-block;
	padding: 0 0 0 0px;
}

input[type=checkbox].arrow:checked + label {
	background-image: url(arrowDown.svg);
}

input[type=checkbox].file + label {
	background-image: url(file.png);
	background-size: contain;
	background-repeat: no-repeat;
	height: 16px;
	display: inline-block;
	padding: 0 0 0 20px;
	margin: 0 0 0 5px;
}
input[type=checkbox].file[data-type=dir] + label{
	background-image: url(folder.png);
}

input[type=checkbox].file:checked + label {
	background-color: lightgray;
	color: black;
}
/*
input[type=checkbox] + label + label{
	background-image: url(folder.png);
	background-size: contain;
	background-repeat: no-repeat;
	height: 16px;
	display: inline-block;
	padding: 0 0 0 20px;
	margin: 0 0 0 5px;
}
*/